asgiref==3.9.1
backtrader==1.9.78.123
cron-descriptor==1.4.5
Django==5.2.6
django-crispy-forms==2.4
django-widget-tweaks==1.5.0
multitasking==0.0.11
peewee==3.17.9
pillow==11.3.0
python-dotenv==1.1.1
pytz==2025.2
pywin32==310
redis==5.2.1
setuptools==78.1.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
txaio==23.1.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
